/* Estilos gerais para desktop */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: 0 auto;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-content {
    display: flex;
    align-items: center;
}

header .profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

/* Ajustes para mobile */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    header .profile-pic {
        width: 120px;
        height: 120px;
        margin: 0 auto 10px auto;
    }

    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1.2em;
    }

    .contact-info {
        font-size: 1em;
    }

    section h2 {
        font-size: 2em;
    }

    ul li {
        font-size: 1em;
        padding: 8px;
    }

    section {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    header .profile-pic {
        width: 100px;
        height: 100px;
    }

    header h1 {
        font-size: 1.8em;
    }

    header p, .contact-info {
        font-size: 1em;
    }

    section h2 {
        font-size: 1.5em;
    }

    ul li {
        font-size: 0.9em;
    }
}
